<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<% if (locals.user != undefined) { %>

		<%- include('./partials/headerLogin') %>
		
	<% } else { %>

		<%- include('./partials/header') %>
		
		<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda:</h2>
			</div>

			<% for( let i = 0; i < buscado.length; i++ ) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/catalogo/detalle">
							<figure class="product-box_image">
								<img src="images/products/<%buscado.Producto[i].dataValues.imagen%>" alt="<%buscado.Producto[i].dataValues.nombre%>">
							</figure>
							<article class="product-box_data">
								<h2><% buscado.nombre[i] %></h2>
								<p><% buscado.descripcion[i] %></p>
								<p>Usuario:</p>
							</article>
						</a>
					</section>
				</div>
			<% } %>
		


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>